{
  "bind_addr": "{{ inventory_hostname }}",
  "advertise_addr": "{{ inventory_hostname }}",
  "client_addr": "0.0.0.0",
  "datacenter": "dc1",
  "log_level": "INFO",
  "retry_join": ["192.168.10.10"],
  "limits": {
    "rpc_rate": 10000
  },
  "discovery_max_stale": "1000ms"
}
